.box li {color: #3a3a3a !important;
    font-family: Lora, serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    letter-spacing: 1.2px;
}